
/* common style or utilities  */
body{

}
.container{
    display:flex;
    flex-direction: column;
    align-items:center; 
}


  /* heading-section-style  */
 .menu-bar{
      display:flex;
      justify-content: space-around;
      align-items: center;
      margin:30px 0 25px 0;
     
}
nav ul{
    display:flex;
    align-items: center;
    padding-left:302px;
}
.heading h2{
    font-size: 32px;
}
nav li{
    list-style:none;
    margin-right:34px;
}
nav li a{
    text-decoration: none;
    font-size:24px;
    color:black;
}
.fas{
    font-size:32px;
}
/* heading-banner  */
.heading-banner{
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.left-part{
    width:50%;
    padding-left:100px;
    padding-right:30px;   
}
.left-part h1{
    margin:0;
    font-size:50px;
}
.left-part button{
    display:flex;
    align-items: center;
    background-color: #E02C6D;
    color:white;
    padding:10px 30px;
    border-radius:30px;
    font-size: 20px;
}
.fa-arrow-right{
    font-size:20px;
    font-weight:300px;
    color:white;
    padding-left:15px;
}
.right-part{
    width:48%;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
    position: relative;
    left:70px;
    
}
.right-part img{
    width:75%;
    bottom:15px;
    position:relative;
    bottom:23px;
}
/* website-link-section  */
hr{
    border:1px solid lightgrey;
    margin-top:40px;
}
.logos{
    margin-top:30px;
    margin-left:93px;   
}
.icons{
    text-align: center;
    padding-right:70px;
}
/* main-container-style */

.product-container{
    width:100%;
    margin-top:60px;
    
}
.container-heading{
    text-align:center;
    margin-bottom: 40px;
    font-size: 28px;
}
.products{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:20px;
    
}
.product{
    width:330px;
    border-radius: 10px;
    box-shadow: 5px 5px 25px lightgrey;
    padding:10px;
}
.product-banner{
    width:330px;
    height:256px;
}
.product-banner img{
    width:100%;
}
.product-name{
    margin:0;
    margin-top:30px;
    font-size:28px;
}
.product-price{
    margin:0;
    margin-top:15px;
    font-size:24px;
}
.fa-dollar-sign{
    font-size: 22px;
}
.fa-star{
    font-size:14px;
    padding-right: 5px;
}
.product-info,.product-more-info{
    margin:0;
    margin-top:15px;
}
.product-more-info p{
    margin:0;
}
.see-more span p{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 20px;
    color: #E02C6D;
}
.see-more span p .fa-arrow-right{
    color: #E02C6D;
}
/* footer-section  */
.footer-section{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.coryright-section{
    width:500px;
    padding:30px 510px 40px;
    margin-top:200px;
    background-color: rgb(11, 11, 32);
    text-align: center;
    color:white;   
}
.link-icon{
    margin-right:20px;
    font-size: 24px;
}