/* font-design  */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

/* Animation  */

@keyframes animated {

   0%{
        left: 600px;
    }
    100% {
        left: 0;
    }
}
/* common style or utilities  */
.main-container {
    margin: 5% 5%;
    min-height: auto;
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 52px;
    margin: 0;
}
p {
    font-size: 16px;
    margin: 0;
}
.font-size{
    font-size: 24px;
}
.button {
    background-color: #E02C6D;
    padding: 10px 24px;
    width: 135px;
    border-radius: 20px;
    margin-top:20px;
}
.button a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-right: 10px;
    
}
.arrow {
    color: white;
}

  /* heading-section-style  */

header h2 {
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    margin-left:30px;
}

/* main-heading-banner-style  */
.heading-section {
    display: flex;
}

.heading-text {
    width: 60%;
    padding: 2%;
}

.heading-text p {
    width: 70%;
    margin-top:10px;
    margin-bottom: 30px;
}

.heading-image {
    width: 40%;
    padding: 2%;
    background-image: url(images/Circle\ design.svg);
    background-repeat: no-repeat;
}

.heading-image img {
    position: relative;
    animation:animated 2s ease-in-out 0s 1;
}


/* ------products Collection------ */

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px 30px;
}

.product-info h2 {
    margin: 20px 0;
}

.products-collection>h2 {
    font-family: 'Ubuntu', sans-serif;
    margin: 5% 0;
    font-size: 30px;
    text-align: center;
}

.product {
    box-shadow: 5px 5px 25px lightgrey;
    border-radius: 10px;
    padding: 5%;

}

.product-info {
    width: 100%;
}

.product img {
    width: 100%;
}

.star {
    margin: 10px 0;
}

.star-color {
    color: orange;
}

.prouduct-text p {
   color:rgb(73, 59, 59);
}

.see-more {
    margin: 50px 0;
    display: flex;
    justify-content: flex-end;
    
}

.button-style {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-style a {
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    margin-right: 5px;
}

.arrow-style {
    color: #E02C6D;
}
/* premium section  */
.premium{
    margin:0;
    display: flex;
    align-items: center;
}
.premium-img{
    width: 40%;
    padding: 5%;
}
.premium-image img{
    width: 100%;
}
.premium-details{
    width: 60%;
    padding: 5%;
}
.premium-details h1{
    font-size:40px;
}
/* footer-section  */
.footer-section{
    margin:0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.coryright-section{
    width:500px;
    padding:30px 510px 40px;
    background-color: rgb(11, 11, 32);
    text-align: center;
    color:white;   
}
.coryright-section h2{
    font-size:28px;
    margin-bottom: 20px;
}
.coryright-section p{
    color:rgb(235, 215, 215);
    margin-bottom:10px;
}
.link-icon{
    margin-top:10px;
    margin-right:20px;
    font-size: 24px;
}

/* -------- Mobile screen------ */

@media only screen and (max-width: 767px) {

    header h2 {
        font-size: 16px;
        text-align: center;
    }

    .heading-section {
        flex-direction: column;
        align-items: center;
    }
    .heading-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    h1 {
        font-size: 28px;
    }

    .heading-image {
        width: 80%;
        background-size: 80%;
        background-position: center;
    }

    .heading-image img {
        width: 60%;
        margin: 20%;
    }

    .products-collection>h2 {
        margin: 5% 0;
        text-align: center;
    }

    .product-info h2 {
        font-size: 16px;
    }

    .products {
        grid-template-columns: repeat(1, 1fr);
    }

    .premium {
        display: block;
    }
    .premium-image{
        margin-left:40px;
    }
    .premium-image, .premium-details {
        width: 100%;
    }
    .button{
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* ---------- Tab screen --------- */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

    header h2 {
        text-align: center;
    }

    .heading-section {
        flex-direction: column;
        align-items: center;
    }
    .heading-text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .heading-image {
        width: 100%;
        background-size: 80%;
        background-position: center;
    }

    .heading-image img {
        width: 60%;
        margin: 20%;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }
  
}